{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <h1><p class="text-center .display-4">Summary</p></h1>
        <div class="col-sm-4 col-sm-offset-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Wins (played)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in summary %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }} ({{ row[2] }})</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for round_data in data %}
        <div class="row">
            <h1><p class="text-center .display-4">Round {{ nr_rounds - loop.index + 1 }}</p></h1>
            {% for rows in round_data %}
                <div class="col-sm-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><p class="text-right">{{ rows[0][0] }}</p></th>
                                <th><p class="text-right">{{ rows[0][1] }}</p></th>
                                <th><p class="text-center">{{ rows[0][2] }}</p></th>
                                <th><p class="text-left">{{ rows[0][3] }}</p></th>
                                <th><p class="text-left">{{ rows[0][4] }}</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows[1:] %}
                                <tr>
                                    <td style="text-align: right; font-weight: normal;"><a href="{{ row[5] }}" target="_blank">{{ row[0] }}</a>
                                        <br><small><i>{{ row[7] }}</i></small></td>
                                    <td style="text-align: right; font-weight: normal;">{{ row[1] }}</td>
                                    <td style="text-align: center; font-weight: normal;">{{ row[2] }}</td>
                                    <td style="text-align: left; font-weight: normal;">{{ row[3] }}</td>
                                   <td style="text-align: left; font-weight: normal;"><a href="{{ row[6] }}" target="_blank">{{ row[4] }}</a>
                                       <br><small><i>{{ row[8] }}</i></small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if loop.index == 2 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}